.carousel {
    perspective: 1200px;
    background-color: #100000;
    padding-top: 10px;
    font-size:0;
    margin-bottom: 3rem;
    overflow: hidden;
}

.carr {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}
.carr img {
    width: 40%; 
    max-width: 425px;
    position: absolute; 
    left: 30%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent; 
}

.carr img:nth-child(1) {
    transform: rotateY(0deg);
}

.carr img:nth-child(2) {
    transform: rotateY(-45deg);
}

.carr img:nth-child(3) {
    transform: rotateY(-90deg);
}

figure#carrouse img:nth-child() {
    transform: rotateY(0);
}

figure#carrouse img:nth-child() {
    transform: rotateY(0);
}

figure#carrouse img:nth-child() {
    transform: rotateY(0);
}

figure#carrouse img:nth-child() {
    transform: rotateY(0);
}

figure#carrouse img:nth-child() {
    transform: rotateY(0);
}