div#carousel {
    perspective: 1200px;
    background-color: #100000;
    padding-top: 10px;
    font-size:0;
    margin-bottom: 3rem;
    overflow: hidden;
}

figure#carrouse {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}
figure#carrouse img {
    width: 40%; 
    max-width: 425px;
    position: absolute; 
    left: 30%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent; 
}