
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carousel {
    width: 100%;
    perspective: 1200px;
    background-color: #100000;
    padding-top: 10%;
    font-size:0;
    margin-bottom: 3rem;
    overflow: hidden;
   
}

#carr {
    transform-style: preserve-3d;
    height: 450px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
  
}
#carr img {
    width: 40%; 
    max-width: 425px;
    position: absolute; 
    left: 30%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent; 
}


#carr img:nth-child(1) {
    transform: rotateY(0deg);
    gap: 1fr;
}

#carr img:nth-child(2) {
    transform: rotateY(-50deg);
    gap: 1fr;
}

#carr img:nth-child(3) {
    transform: rotateY(-101deg);
    gap: 1fr;
}

#carr img:nth-child(4) {
    transform: rotateY(-153deg);
    gap: 1fr;
}

#carr img:nth-child(5) {
    transform: rotateY(-205deg);
    gap: 1fr;
}

#carr img:nth-child(6) {
    transform: rotateY(-256deg);
    gap: 1fr;
}

#carr img:nth-child(7) {
    transform: rotateY(-308deg);
    gap: 1fr;
}





.im01:hover {
    border-radius: 50% 95%;
}

.im02:hover {
    border-radius: 32px 64px;
}

.im03:hover {
    border-radius: 55%;
}

.im04:hover {
    border-radius: 50%;
}

.im05:hover {
    border-radius: 45px 78px; 
}

.im06:hover {
    border-radius: 78% 45%;
}

.im07:hover {
    border-radius: 98% 10%;
}



.carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s;
    color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

.carousel ~ span:hover {
    color: rgb(123, 117, 117);
    cursor: pointer;   
}

